<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a42570f4e1.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Comments of patients upload</title>
     <style>
    *{
    padding:0px;
    margin:0px;
    box:border-box;
    }
    body{
    background:#f0f5f5;
    }
    h4{
    color:red;
    text-align:center;
    }
    .fa-regular,.fa-solid{
    color:#0000b3;
    }
    .btn{
    height:40px;
    width:640px;
    color:#660066;
    background:#66cc99;
    }
    </style>
</head>
<body>
 <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <form method="post">{% csrf_token %}
                    <h4>UPLOAD YOUR COMMENTS</h4>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                          <input type="text" name="cname" class="form-control" placeholder="First Name" aria-label="firstname" aria-describedby="basic-addon1">
                        </div>

                         <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-comment"></i></span>
                            <input type="text" name="comment" class="form-control" placeholder="Comments" aria-label="comments" aria-describedby="basic-addon1">
                        </div>


                        <button type="submit" class="btn btn-primary"><b>Upload</b></button>

                </form>

            </div>

        </div>

    </div>




</body>
</html>